[Unit]
Description=eNode Host Metrics Publisher
After=network.target mosquitto.service

[Service]
Type=simple
ExecStart=/usr/local/bin/metrics-publisher.sh
Restart=always
RestartSec=2
Environment=METRICS_INTERVAL=10

[Install]
WantedBy=multi-user.target
